@charset="utf-8";

/*banner部分*/
.banner{ position: relative;margin-top: 5px; width: 1030px;height: 412px; overflow: hidden;}
.banner .hd{ margin: 0 auto; width: 997px;}
.banner .bd{ padding-left:110px; width: 100%;background: url(bannerbg.jpg) no-repeat;}
.banner .bd .tempWrap{ width:880px !important; }
.banner .bd ul{ overflow:hidden; zoom:1; }
.banner .bd ul li{ margin-right:20px;  float:left; height:42px; line-height:45px;  text-align:left; _display:inline; width:auto !important;  }
.banner .bd a{color: #a4a4a4; }
.banner .bd ul li span{color: #a4a4a4;margin-left: 30px; }

/*main部分*/
.main{ position: relative;width: 100%;overflow: hidden; }

/*pro部分*/
.m-pro{position: relative;}
.m-pro .bd{ position:relative;  background: url(probg.png) repeat-x;padding: 25px 35px; }
.m-pro .bd li{ float: left;width: 135px;margin: 0 12px; text-align:center; display: inline; }
.m-pro .bd li span{display: block; line-height: 30px; color: #7e7e7e;}
.m-pro .bd .prev, .m-pro .bd .next{ display:block;position: absolute; width: 14px;height: 24px; top:40%; }
.m-pro .bd .prev{ background: url(o_ico_01.png) no-repeat;left: 20px; }
.m-pro .bd .next{ background: url(o_ico_02.png) no-repeat; right: 20px; }

/*m-es部分*/
.m-es{ position: relative;width: 997px;height: 235px; margin: 0 auto; background: url(esbg.png) repeat-x; padding-left: 12px;padding-bottom: 25px; border-bottom: #dedede 1px solid;}
.m-es .hd{ position: relative;height: 35px;line-height: 35px; }
.m-es .hd h3{ font-weight: normal; float: left;}
.m-es .hd i{ font-size: 14px; font-family: Microsoft Yahei; color: #7e7e7e; }
.m-es .hd span{font-size: 12px;font-family: Microsoft Yahei;color: #2975a7;margin-left: 3px;}
.m-es .hd .more{ float: right; color: #727272; font-family: Myriad Pro;transform: scale(0.7); }

/*news部分*/
.m-news{ position: relative;width: 350px; float: left;}
.m-news .bd{ position: relative;width: 350px;overflow: hidden; }
.m-news .bd .new-pic{ float: left;margin-right: 20px;}
.m-news .bd .new-txt{ color: #6f6f6f;padding: 5px 0 ;}
.m-news .bd .new-txt span{ display: block;color:#fe7200; margin-top: 5px;}
.m-news .bd .new-txt span a { color: #fe7200; }
.m-news .bd .newList{ position: relative; margin-bottom: 25px;}
.m-news .bd .newList li{border-bottom: #cccccc dashed 1px; padding: 10px 0;margin-top: 5px;}
.m-news .bd .newList span{ color: #2975a7; transform: scale(0.9); font-family: Arial; }
.m-news .bd .newList a{ color: #474747; display: block; }

/*abt部分*/
.m-abt{ position: relative;width: 300px;float: left; margin-left: 25px; }
.m-abt .abt-txt{ color: #767676;float: left; margin-top: 5px; margin-bottom: 10px;line-height: 25px;}
.m-abt .abt-cont { position: relative; }
.m-abt .abt-cont li{ float: left;margin: 2px; }
.m-abt .abt-cont img{ border-radius: 15px; }

/*video部分*/ 
.m-video{ position: relative;float: left;width: 275px; margin-left: 40px; }
.m-video .bd{ text-align: center;margin-top: 10px; }
.m-video .bd video{ border-left: 5px solid #fff; border-right: 5px solid #fff; }




