@charset="utf-8";
/*reset css*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol{margin:0;padding:0}em,i{font-style:normal}li{list-style:none}a,a:hover{text-decoration:none}img{border:0}table{border-collapse:collapse;border-spacing:0}label{cursor:default}textarea{resize:none}a,a:focus{outline:none}.clearfix:after{content:'\20';display:block;height:0;clear:both}.clearfix{*zoom:1}.clear{display:block;height:0;clear:both;font-size:0;line-height:0;overflow:hidden}.fl{float:left;display:inline}.fr{float:right;display:inline}.fn{float:none}.tl{text-align:left}.tr{text-align:right}.tc{text-align:center}.hide{display:none}.show{display:block}.mt10{margin-top:10px}.noBg{background:none!important}.noBorder{border:0!important}.red{color:red}.mb15{margin-bottom:15px}body,button,input,select,textarea{font:12px/1.5 Tahoma,Arial,'Hiragino Sans GB','microsoft yahei',\5b8b\4f53}
body{background:url(bg.png) no-repeat top center fixed;color:#fff;}
a{color:#741761;text-decoration:none; transition:color 0.2s linear 0s}
a:hover{color:#741761;}
.wrapper{ position: relative;overflow: hidden;background: #fff;width: 1200px; margin: 0 auto; }

/*leftArea部分*/
.leftArea{ position: relative;overflow: hidden; width: 186px; border-right: 2px solid #741761;float: left;n }

/*logo*/
.logo{ width: 186px;height: 156px;margin-bottom: 7px; }

/*intro*/
.intro{ position: relative;width: 186px;overflow: hidden;margin-bottom: 15px; }
.intro .hd{ height: 35px;width: 186px;font-weight: normal; line-height: 35px;text-align: center; background: #741761;margin-bottom: 15px; }
.intro .hd a{ color:#fff;font-size: 14px;  }
.intro .bd{ position: relative;}
.intro .bd a{ font-size: 12px; font-family: "NSimsun";color: #8f8f8f; }
.intro .bd a:hover{ color: #741761; }
.intro .bd li{ color: #741761; font-family: "NSimsun";margin-bottom: 5px;padding-left: 55px;  }
.intro .bd .first{ background: url(o_ico_01.png)no-repeat 45px center; }

/*nav部分*/
.nav{position: relative;margin-left: 55px;overflow: hidden;width: 186px;margin-bottom: 30px;}
.nav li{ font-size: 14px;margin-bottom: 15px; }

/*tel部分*/
.tel{ position: relative;width: 186px; overflow: hidden;margin-left: 20px; margin-bottom: 10px;}
.tel span{ color: #676767; }

/*share部分*/
.share{ position: relative; overflow: hidden;margin-left: 20px;margin-bottom: 15px; }
.share .hd{color:#676767;}
.share li{ float: left; margin-right: 5px;}

/*copy部分*/
.copy{ position: relative;overflow: hidden;color: #7b7b7b;margin-left: 20px;margin-bottom: 40px; }
.copy a:hover{ color: #741761; }
.copy span{ font-family: "Arial" }
.copy a{ color: #7b7b7b;display: block; font-family: "Simsun/Arial" ;}
.copy i a{ display: inline; }

/*rightArea*/
.rightArea{position: relative;overflow: hidden;float: right; width: 46px;text-align: center;height:800px;background: #741761;}
.rightArea ul{ margin-top: 30px;position: relative;width: 24px; }
.rightArea a{color: #ffffff;}
.rightArea li{ padding-bottom: 25px; background: url(rightline.png)no-repeat center bottom;width: 46px;margin-bottom: 25px;}
.rightArea .rightLink-3{ background: none; }